
@{
    ViewData["Title"] = "Add new Student";
}

@if (ViewData["Added"] == null)
{
    <h1>Add new Student</h1>

    <form method="post">
        <label>Full Name</label>
        <input type="text" name="full_name" />
        <br />

        <label>Date of Birth</label>
        <input type="text" name="dob" />
        <br />

        <label>Student Email</label>
        <input type="text" name="email" />
        <br />

        <label>Home Phone</label>
        <input type="text" name="home_phone" />
        <br />

        <input type="submit" value="Add Student" />
    </form>
}
else
{
    <p>Student added successfully</p>
}

